In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('../data/external/fatalities_isr_pse_conflict_2000_to_2023.csv')
df

,name,date_of_event,age,citizenship,event_location,event_location_district,event_location_region,date_of_death,gender,took_part_in_the_hostilities,place_of_residence,place_of_residence_district,type_of_injury,ammunition,killed_by,notes
0,'Abd a-Rahman Suleiman Muhammad Abu Daghash,2023-09-24,32.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while standing ...
1,Usayed Farhan Muhammad 'Ali Abu 'Ali,2023-09-24,21.0,Palestinian,Nur Shams R.C.,Tulkarm,West Bank,2023-09-24,M,NaN,Nur Shams R.C.,Tulkarm,gunfire,live ammunition,Israeli security forces,Fatally shot by Israeli forces while trying to...
2,'Abdallah 'Imad Sa'ed Abu Hassan,2023-09-22,16.0,Palestinian,Kfar Dan,Jenin,West Bank,2023-09-22,M,NaN,al-Yamun,Jenin,gunfire,live ammunition,Israeli security forces,Fatally shot by soldiers while firing at them ...
3,Durgham Muhammad Yihya al-Akhras,2023-09-20,19.0,Palestinian,'Aqbat Jaber R.C.,Jericho,West Bank,2023-09-20,M,NaN,'Aqbat Jaber R.C.,Jericho,gunfire,live ammunition,Israeli security forces,Shot in the head by Israeli forces while throw...
4,Raafat 'Omar Ahmad Khamaisah,2023-09-19,15.0,Palestinian,Jenin R.C.,Jenin,West Bank,2023-09-19,M,NaN,Jenin,Jenin,gunfire,live ammunition,Israeli security forces,Wounded by soldiers’ gunfire after running awa...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11119,Binyamin Herling,2000-10-19,64.0,Israeli,Nablus,Nablus,West Bank,2000-10-19,M,Israelis,Kedumim,Tulkarm,gunfire,live ammunition,Palestinian civilians,Killed while hiking on Mt. Eival.
11120,Farid Musa 'Issa a-Nesasreh,2000-10-17,28.0,Palestinian,Beit Furik,Nablus,West Bank,2000-10-17,M,Unknown,Beit Furik,Nablus,gunfire,NaN,Israeli civilians,Killed by a settler from Itamar while harvesti...
11121,Hillel Lieberman,2000-10-07,36.0,Israeli,Nablus,Nablus,West Bank,2000-10-07,M,Israelis,Elon Moreh,Nablus,gunfire,live ammunition,Palestinian civilians,His body was found a day after he disappeared.
11122,Fahed Mustafa 'Odeh Baker,2000-10-07,21.0,Palestinian,Bidya,Salfit,West Bank,2000-10-07,M,No,Bidya,Salfit,gunfire,NaN,Israeli civilians,Killed by settlers who rioted in Biddya village.
11123,Wichlav Zalsevsky,2000-10-02,24.0,Israeli,Masha,Salfit,West Bank,2000-10-02,M,Israelis,Ashdod,Israel,gunfire,live ammunition,Palestinian civilians,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11124 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11124 non-null  object
 1   date_of_event                 11124 non-null  object
 2   age                           10995 non-null  float64
 3   citizenship                   11124 non-null  object
 4   event_location                11124 non-null  object
 5   event_location_district       11124 non-null  object
 6   event_location_region         11124 non-null  object
 7   date_of_death                 11124 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  9694 non-null   object
 10  place_of_residence            11056 non-null  object
 11  place_of_residence_district   11056 non-null  object
 12  type_of_injury                10833 non-null  object
 13  ammunition                    5871 non-null   object
 14  killed_by                     11124 non-null  object
 15  notes                         10844 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [5]:
from datasist.structdata import detect_outliers

In [6]:
num_col=df.select_dtypes(include='number')
num_col=num_col.columns
num_col

Index(['age'], dtype='object')

In [7]:
len(detect_outliers(df,0,num_col))

0

In [8]:
df['age'].isnull().sum()

129

In [9]:
df['age']=df['age'].fillna(df['age'].median())

In [10]:
df['gender'].unique()

array(['M', 'F', nan], dtype=object)

In [11]:
df['gender'].isnull().sum()

20

In [12]:
df.dropna(subset=['gender'],axis=0,inplace=True)

In [13]:
df['gender'].isnull().sum()

0

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11104 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11104 non-null  object
 1   date_of_event                 11104 non-null  object
 2   age                           11104 non-null  float64
 3   citizenship                   11104 non-null  object
 4   event_location                11104 non-null  object
 5   event_location_district       11104 non-null  object
 6   event_location_region         11104 non-null  object
 7   date_of_death                 11104 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  9674 non-null   object
 10  place_of_residence            11056 non-null  object
 11  place_of_residence_district   11056 non-null  object
 12  type_of_injury                10815 non-null  object
 13  ammunition                    5871 non-null   object
 14  killed_by                     11104 non-null  object
 15  notes                         10834 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [15]:
df['took_part_in_the_hostilities'].unique()

array([nan, 'No', 'Yes', 'Unknown', 'Israelis',
       'Object of targeted killing'], dtype=object)

In [16]:
df['took_part_in_the_hostilities'].value_counts()

No                            4653
Yes                           3463
Israelis                       771
Unknown                        587
Object of targeted killing     200
Name: took_part_in_the_hostilities, dtype: int64

In [17]:
df['took_part_in_the_hostilities'].isnull().sum()

1430

In [18]:
df['took_part_in_the_hostilities']=df['took_part_in_the_hostilities'].fillna('Unknown')

In [19]:
df['took_part_in_the_hostilities'].isnull().sum()

0

In [20]:
df['ammunition'].unique()

array(['live ammunition', 'missile', nan, 'rocket',
       '0.22-caliber bullets', 'bomb', 'knife', 'shell', 'rock',
       'rubber-coated metal bullets', 'stun grenade', 'teargas canister',
       'flare bomb', 'sponge rounds', 'mortar fire', 'grad rocket',
       'flechette shells', 'phosphorus shell', 'Qassam rocket',
       'explosive belt', 'grenade', 'car bomb'], dtype=object)

In [21]:
df['ammunition'].value_counts()

missile                        2877
live ammunition                1514
shell                           675
explosive belt                  326
bomb                            249
mortar fire                      51
knife                            37
flechette shells                 22
rubber-coated metal bullets      19
0.22-caliber bullets             16
phosphorus shell                 16
Qassam rocket                    15
car bomb                         15
teargas canister                 13
rocket                           12
grad rocket                       7
sponge rounds                     2
grenade                           2
flare bomb                        1
stun grenade                      1
rock                              1
Name: ammunition, dtype: int64

In [22]:
df['ammunition'].mode()

0    missile
dtype: object

In [23]:
df['ammunition']=df['ammunition'].fillna('missile')

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11104 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11104 non-null  object
 1   date_of_event                 11104 non-null  object
 2   age                           11104 non-null  float64
 3   citizenship                   11104 non-null  object
 4   event_location                11104 non-null  object
 5   event_location_district       11104 non-null  object
 6   event_location_region         11104 non-null  object
 7   date_of_death                 11104 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  11104 non-null  object
 10  place_of_residence            11056 non-null  object
 11  place_of_residence_district   11056 non-null  object
 12  type_of_injury                10815 non-null  object
 13  ammunition                    11104 non-null  object
 14  killed_by                     11104 non-null  object
 15  notes                         10834 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [25]:
df['place_of_residence'].mode()[0]

'Gaza city'

In [26]:
df['place_of_residence']=df['place_of_residence'].fillna(df['place_of_residence'].mode()[0])

In [27]:
df['place_of_residence'].value_counts()

Gaza city       2331
Rafah            892
Khan Yunis       717
Jabalya R.C.     565
Beit Lahiya      479
                ...
al-'Auja           1
Sheqef             1
Rakhme             1
Kafr Qadum         1
Banei Ayish        1
Name: place_of_residence, Length: 580, dtype: int64

In [28]:
df['place_of_residence'].isnull().sum()

0

In [29]:
df['place_of_residence_district']=df['place_of_residence_district'].fillna(df['place_of_residence_district'].mode()[0])

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11104 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11104 non-null  object
 1   date_of_event                 11104 non-null  object
 2   age                           11104 non-null  float64
 3   citizenship                   11104 non-null  object
 4   event_location                11104 non-null  object
 5   event_location_district       11104 non-null  object
 6   event_location_region         11104 non-null  object
 7   date_of_death                 11104 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  11104 non-null  object
 10  place_of_residence            11104 non-null  object
 11  place_of_residence_district   11104 non-null  object
 12  type_of_injury                10815 non-null  object
 13  ammunition                    11104 non-null  object
 14  killed_by                     11104 non-null  object
 15  notes                         10834 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [31]:
df['type_of_injury'].value_counts()

gunfire                         9831
explosion                        555
shelling                         311
stabbing                          48
house demolition                  25
hit by a vehicle                  18
beating                            9
stones throwing                    6
being bludgeoned with an axe       4
fire                               4
physically assaulted               2
physical assault                   1
Strangulation                      1
Name: type_of_injury, dtype: int64

In [32]:
df['type_of_injury']=df['type_of_injury'].fillna(df['type_of_injury'].mode()[0])

In [33]:
df['citizenship'].value_counts()

Palestinian    10072
Israeli         1029
Jordanian          2
American           1
Name: citizenship, dtype: int64

In [34]:
df['event_location'].value_counts()

Gaza City              2232
Rafah                   831
Khan Yunis              538
Jabalya R.C.            477
Beit Lahiya             471
                       ...
al-'Esawiyah              1
Elazar                    1
Kibbutz Beit Govrin       1
Kh. Shuweika              1
Masha                     1
Name: event_location, Length: 494, dtype: int64

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11104 entries, 0 to 11123
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11104 non-null  object
 1   date_of_event                 11104 non-null  object
 2   age                           11104 non-null  float64
 3   citizenship                   11104 non-null  object
 4   event_location                11104 non-null  object
 5   event_location_district       11104 non-null  object
 6   event_location_region         11104 non-null  object
 7   date_of_death                 11104 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  11104 non-null  object
 10  place_of_residence            11104 non-null  object
 11  place_of_residence_district   11104 non-null  object
 12  type_of_injury                11104 non-null  object
 13  ammunition                    11104 non-null  object
 14  killed_by                     11104 non-null  object
 15  notes                         10834 non-null  object
dtypes: float64(1), object(15)
memory usage: 1.4+ MB

In [39]:
df=df.drop('notes',axis=1)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11104 entries, 0 to 11123
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   name                          11104 non-null  object
 1   date_of_event                 11104 non-null  object
 2   age                           11104 non-null  float64
 3   citizenship                   11104 non-null  object
 4   event_location                11104 non-null  object
 5   event_location_district       11104 non-null  object
 6   event_location_region         11104 non-null  object
 7   date_of_death                 11104 non-null  object
 8   gender                        11104 non-null  object
 9   took_part_in_the_hostilities  11104 non-null  object
 10  place_of_residence            11104 non-null  object
 11  place_of_residence_district   11104 non-null  object
 12  type_of_injury                11104 non-null  object
 13  ammunition                    11104 non-null  object
 14  killed_by                     11104 non-null  object
dtypes: float64(1), object(14)
memory usage: 1.6+ MB

In [41]:
df.to_csv('../data/processed/palestine_dataset_cleaned.csv')